
{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more"></div>

			<div>
				<form method="post" class="validate-form">
                    {% csrf_token %}
					<span class="">
						Faça Login para entrar.
					</span>

					<div class="wrap-input100 validate-input" data-validate="CPF é obrigatório">
						<span class="label-input100">CPF</span>
						<input class="input100" type="text" id="{{ forms.username.id_for_label }}" name="{{ forms.username.html_name}}" placeholder="00000000">
						<span class="focus-input100"></span>
					</div>


					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Senha</span>
						<input class="input100" type="password" id="{{ forms.password.id_for_label }}" name="{{ forms.password.html_name}}" placeholder="*************">
						<span class="focus-input100"></span>
					</div>





					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Entrar
							</button>
						</div>

						<a href="{% url 'autenticacao:register' %}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							Ainda não tem uma conta? Cadastre-se aqui.
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>



</body>
</html>